* {
    padding: 0;
    margin: 0;
    
}

:root{
    --hue: 200;
    --title-font : 'Open Sans', sans-serif;
}

ul {
    list-style: none ;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding: 6px ;
    font-size: 25px;
    color: var(--title-color);
    margin-top: 20px;
}
 
#container {
    max-width: 588px;
    margin: 120px auto 0px;
    padding: 8px;
    box-shadow: 0 0 1em gray;
    overflow: hidden;
}

#container h1 {
    margin-top: 50px;
    font-family: var(--title-font);
}


p{
    margin: 20px auto 40px;
    font-family: var(--title-font)
}

#subject {
    margin: 10px 0 0;
}

#subject-2 p {
    margin-bottom: 50px;
}

.divider-1{
    height: 2px;
    background: linear-gradient( 270deg, gray , gray ) ;
}

@media (max-width: 500px)
{
    #container { 
    max-width: 450px;
    margin: 20px auto; 
}

    #container h1 {
    margin-top: 20px;
}

}
